/*
    Charles Quigley, Thomas Gonzalez
    COSC 3351
    Due: 4/23/2021
*/


/*-----------------------General Stuff----------------------------------------*/
* {
    /*So that the website looks the same across all major browsers.*/
    margin: 0;
    padding: 0;
}

body {
    /*Body's min-height is the entire page's height.*/
    min-height: 100%;
}

form {
    /*Same with form*/
    height: 100%;
}


footer{
    position: absolute; /*Helps keep footer at bottom of page*/
    width: 100%;
    height: 10vh;
    background-color: green;
    color: white;
    font-size: 3vh;
    text-align: center;
}





/*--------------Master Page Top Content (Navigation Bar)-----------------------*/

#logoTable {
    margin-left: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    overflow: hidden;
    display: inline-block;
}

#LogoLink {
    display: inline-block; /*Inline block keeps everything on the same line (horizontal placement of items)*/
    text-decoration: none;
}


#Logo1 {
    display: inline-block;
    color: green;
    font-weight: bold;
    font-size: 6vh;
    font-family: Broadway, Arial, sans-serif;
    width: 30vw;
}

#searchBar {
    display: inline-block;
    border-radius: 0.3vw;
    outline: none;
    border-width: thin;
    border-style: solid;
    height: 5vh;
    width: 20vw;
    color: gray;
    margin-left: 0.2vw;
}

#searchButton {
    display: inline-block;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 6vh;
    margin-left: 0.2vw;
    width: 7vw;
}

#shoppingCartButton {
    display: inline-block;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 6vh;
    width: 6vw;
    margin-left: 2vw;
}

#loginButton {
    display: inline-block;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 6vh;
    width: 6vw;
    margin-left: 2vw;
}

#login_VerticalLine {
    display: inline-block;
    border-left: 0.2vw solid gray;
    height: 14vh;
    margin-left: 5vw;
}

#loginImage {
    display: inline-block;
    margin-left: 3vw;
    margin-bottom: 3vh;
}


#FooterLabel{
    display: block;
    margin-top: 2vh;
}


.horizontalLine {
    border-bottom: solid gray 0.3vh;
    
    width: 100%
}




/*--------------Default Page-----------------------*/


.Product_Column {
    margin-left: 9vw;
    margin-bottom: 1vh;
    border: 0.4vmin solid lightgray;

} 
    

.Product_Price {
    display: block;
    text-align: center;
}

.Product_Image{
    margin-top: 2vh;
    margin-bottom: 4vh;

    margin: auto;
    display: block;
   
    height: 30vh;
    width: 15vw;
}

.Product_Name{
    font-weight: bold;
    display: block;
    text-align: center;

}

.Product_Description{
    margin-top: 2vh;
    display: block;
    text-align: center;
}


#ProductTable td {
    width: 50vw;
    height: 60vh;
  
}





/*--------------ProductDescriptionPage.aspx-----------------------*/

.ProductView_Image {
    margin-top: 5vh;
    margin-bottom: 4vh;
    margin: auto;
    margin-left: 10vw;
    
    height: 60vh;
    width: 30vw;
}

#Product_Page_Vertical_Line {
    border-left: 0.7vw solid green;
    height: 70vh;
    margin-left: 9vw;
}


#ProductPage_Info_Column {
    display: block;
    margin-left: 6vw;
}


.ProductView_Name {
    font-size: 8vh;
    font-weight: bold;
    display: block;
    margin-top: 7vh;
}

.ProductView_Description {
    text-align: left;
    margin-top: 1vh;
    display: block;
    color: #6e706e;
    font-weight: bold;
}

.ProductView_Price {
    font-size: 5vh;
    font-weight: bold;

    display: block;
    padding-top: 8vh;
}


#ProductView_Button input {
    display: block;
    margin-top: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 2vw;
    font-size: 1.5vw;
}




/*--------------Search.aspx-----------------------*/

#EmptySearch_Label{
    margin-left: 2vw;
}

.SearchCell {
    display: block;
    margin-left: 3vw;
    border: 0.4vmin solid lightgray;
    width: 28vw;
    height: 60vh;

    padding-top: 2vh;
}

.Product_Name_Search {
    font-weight: bold;

    display:block;
    text-align: center;

}

.Product_Description_Search {
    margin-top: 2vh;
    display: block;
    text-align: center;
}

.Product_Image_Search {
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin: auto;
    display: block;

    height: 30vh;
    width: 15vw;
}

.Product_Price_Search {
    display: block;
    text-align: center;
}




/*--------------UserLogin.aspx-----------------------*/

#Login_Page {
    display: block;
    
    margin-top: 5vh;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}

#Signin_Label {
    font-size: 4vh;
    font-weight: bold;
    display: block;
    padding-left: 15vw;
    color: #494A49;

    margin-bottom: 3vh;
}

#Siginin_Table {
    padding-left: 15vw;
}

#Siginin_Table td {
    margin-top: 4vh;
    display: block;
}

.Login_Txt {
    width: 25vw;
    height: 5vh;

}

.Login_Button{
    width: 25vw;
    height: 5vh;

    margin-top:2vh;
}

#SignIn_Button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;

    height: 7vh;
    font-size: 3vh;
    font-weight: bold;
}

#SignUp_Button {
    border: 0.5vh solid green;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: green;

    height: 7vh;
    font-size: 3vh;
    font-weight: bold;


}


#SignIn_ValidationSummary 
{
    color: red;
    font-weight: bold;

}

#SignIn_ValidationSummary ul {
    list-style-type: none;
}


#AccountExists {
    color: red;
    font-weight: bold;
}






/*--------------AdminPage.aspx-----------------------*/


.AddDeleteRowLabel {
    color: #6e706e;
    font-weight: bold;
    font-size: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.AdminTableLabel {
    display: block;
    color: #6e706e;
    font-weight: bold;
    font-size: 10vh;
    margin-top: 2vh;
    width: 50%;
}



.AddOrRemoveRows{
    display: block;
    height: 50vh;
    width: 100vw;
    margin-bottom: 10vh;
}



.AddRows {
    display: block;
    height: 100%;
    width: 30%;
    float: left;

}

.AddRows table td{
    padding-top: 2vh;
}

.secondColumn {
   padding-left: 1vh;
}

.AddRow_Button {
    display: block;
    margin-top: 3vh;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 1.5vh;
    font-size: 1.5vw;
}

.RemoveRows {
    display: block;
    height: 100%;

}

.DeleteRow_Label {
    display: block;
    color: #6e706e;
    font-weight: bold;
    font-size: 3vh;
    margin-top: 1vh;
 
}

#DeleteRow_ProductID
{
    display: block;
    margin-top: 2.4vh;
}

.DeleteRow_Button {
    display: block;
    margin-top: 8vh;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 1.5vh;
    font-size: 1.5vw;
}

.AddRow_NoExist
{
    color: red;
    font-weight: bold;
}

.DeleteRow_NoExist
{
    display:block;
    margin-top: 2.2vh;
    color: red;
    font-weight: bold;
}

.AdminVerticalLine {
    height: 100%;
    width: 2vw;
    border-left: 0.2vw solid gray;
    float:left;
}

#AdminPage_HorizontalLine hr {
    border: 0.5vh solid gray;
    margin-bottom: 3vh;
}

.Admin_ValidationSummary
{
    font-weight: bold;
    color: red;
    font-size: 2vh;
}

#DeleteRow_MemberID{
    display:block;
 
    margin-bottom: 2vh;
}

#DeleteRow_Label_Member
{
    display: block;
    margin-top: 1vh;
}






/*--------------ShoppingCart.aspx-----------------------*/

#CartTitle {
    display: block;
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 8vh;
    font-weight: bold;
    color: green;
}

.CartHorizontalLine hr
{
    display: block;
    width: 80%;
    margin-left: 1vw;

    border: none;
    height: 0.5vh;
    background-color: green;
    margin-bottom: 4vh;
}

.CartHorizontalLine_Dashed hr{
    display: block;
    width: 80%;
    margin-left: 1vw;

    border-top: 0.7vh dashed green;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

#TotalPurchase_Label{
    display: block;
    margin-left: 3.5vw;
    font-size: 3vh;
    font-weight: bold;
}

#TotalPrice_Label {
    display: block;
    margin-left: 3.5vw;
    font-size: 3vh;
    font-weight: bold;
}

#ShoppingCartButtons
{
    display: block;
    margin-left: 3vw;

}

#PurchaseCartButton {
    color: white;
    background-color: green;
    outline: none;
    border: none;
    cursor: pointer;
    height: 8vh;
    width: 8vw;

    font-weight: bold;
    font-size: 3vh;
}

#DeleteCartButton {
    display: inline-block;
    margin-left: 3vw;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
    height: 8vh;
    width: 8vw;

    font-size: 3vh;
}







/*--------------Receipt.aspx-----------------------*/

#ErrorLabelReceipt{
    display: block;
    margin-left: 3vw;
}
#ReceiptContent {
    display: block;
    margin-left: 3vw;
    color: black;
}

#ReceiptTitle {
    font-size: 6vh;
    font-weight: bold;
    color: #6e706e;
}

#ReceiptLabel{
    font-weight: bold;

}

.horizontalLineReceipt{
    display: block;
    margin-top: 3vh;
    border-top: 0.3vh solid gray;
    margin-bottom: 1.5vh;

    width: 80%;
}

#OrderPickupWhen {
    display: block;
    margin-top: 4vh;
    font-size: 3vh;
    font-weight: bold;
    color: black;
}

#PleaseCall {
    font-size: 3vh;
    font-weight: bold;
    color: black;
}

#PurchaseThankyou {
    font-size: 3vh;
    font-weight: bold;
    color: black;
}






/*--------------SignUp.aspx-----------------------*/


#SignUpContent {
    display: block;
    margin-left: 22vw;
    margin-top: 8vh;
    width: 100vw;

    height: 100%;
}

#SignUp_Label {
    font-size: 5vh;
    font-weight: bold;
    display: block;
    padding-left: 18vw;
    color: green;
    margin-bottom: 2vh;
}

#Charged {
    font-size: 3vh;
    font-weight: bold;
    display: block;
    padding-left: 18vw;
    color: black;
    margin-bottom: 5vh
}

.SignUp_RightTextBox{
    display: inline-block;
    margin-left: 3vw;
}

.SignUp_ValidationSummary {
    display: block;
    margin-left: 19vw;
    color: red;
    font-weight: bold;
}

.SignUp_ValidationSummary ul {
    list-style-type: none;

}

#SignUp_Confirm {
    display: block;
    margin-top: 6vh;
    margin-left: 19vw;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 7vh;
    width: 16vw;
    padding-right: 0.5vw;
    font-size: 3vh;
    font-weight: bold;
}

#EmailAlreadyExists {
    display: block;
    margin-left: 19vw;
    color: red;
    font-weight: bold;
}

